@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Poppins:ital,wght@0,600;1,600&display=swap');
body {
  
  font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
  

nav{
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh ;
  background: rgb(255, 255, 255);
  color: white;
}

.nav-Links{
  
 background: #ffffff;
 width: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 list-style: none;
}
.ınput{
 width: 500px;
 height: 40px;
}
.search-input{

  text-align: center;
}

.logo{
  max-height: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  color: rgb(0, 0, 0);
}

.home-page{
  list-style-type: none;
  
}
.HomePage{
  text-decoration: none;
}


nav {
  display: flex;
  justify-content: center;
}

.description{
  display: flex;
  background:whitesmoke;
  font-size: small;
  justify-content: space-around;
  padding: 5px;
  list-style-type: none;
  
}
.description a {
  color: black;
  text-decoration: none;
}
.description a:hover{
  color: rgb(143, 143, 143);
}
.baslk{
  height: 40px;
  color: white;
  background-color:#404fa2 ;
}

.product-list{
  text-align: center;
  padding-right: 70px;
  padding-left: 70px;

}
.myd-store{
  text-align: center;
}
.Basket{
  text-align: center;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  display: none;
}
.basket-header {
  color: white;
  background-color: #404fa2;
  height: 40px;
}
.card-body{
  background:  #404fa2;
}
.card-title{
  color: white;
}
.card-text{
  color: white;
}
.btn-primary{
  color: black;
  background-color: #b7b7b7;
  border-color: 007bff;

}
.ust{
  text-align: center;
}
.ui.icon.input>input{
  width: 450px;
}

.ui.button{
  background: #275ce6;
} 
.ui.button:hover {
  background: #cccccc;
}
.nav-right .icon{
  color: rgb(238, 238, 238);
}
.urun-yok{
  padding-top: 50px;
  padding-bottom: 400px;
}