.App {
  text-align: center;
  float: left;
  padding-left: 40px;
  padding-top: 40px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh ;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-Links{
  
 width: 50%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 list-style: none;
}
.aramas{
  width: 600px;
  height: 40px;
  text-align: center;
}

.ilts{
  color: rgb(0, 0, 0);
  
}
.hknd{
  color: rgb(0, 0, 0);
  text-align: center;
}
.asyf{
  color: rgb(0, 0, 0);
}
.hknda{
 list-style: upper-roman;
 text-align: left;
}

body{
  background-color: rgba(187, 121, 36, 0.973);
}
